@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
body {
    margin: 0px;
    background-color: #121212;
    color: white;
    font-family: 'Caveat';
}

.calendar {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 40px;
    height: 100vh;
}

.selected {
    position: absolute;
    bottom: 0px;
}

.content {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.selected-content {
    width: 70%;
    height: 70%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 0px;
    background-color: #1f1f1f;
    border-radius: 10px;
    box-sizing: border-box;
}

.transition {
    transition: 1s;
}

.pointer {
    cursor: pointer;
}

.border {
    box-sizing: border-box;
    border: 1px solid black;
}

.display-wrapper {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    box-sizing: content-box;
    background-color: #1f1f1f;
}

.content-wrapper {
    position: absolute;
    top: 0px;
    overflow-y: scroll;
    height: 100%;
    padding: 0px 40px;
}

.full {
    width: 100%;
    height: 100%;
}

.card {
    padding: 20px 0px;
    background-color: #1f1f1f;
    box-sizing: border-box;
    border-radius: 10px;
    height: 100%;
}

.bg {
    background-color: #121212;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: calc(100% - 20px);
}

.image-wrapper .lock-image {
    position: absolute;
    height: 40%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.image-wrapper .heart-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.verse-location-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.no-overflow {
    overflow: hidden;
}

.content-title {
    font-size: 72px;
}

.content-message {
    font-size: 32px;
}

.content-verse {
    float: right;
    text-align: right;
    font-size: 24px;
}

@media (max-width: 1580px) {
    .calendar {
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 855px) {
    .calendar {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 630px) {
    .calendar {
        grid-template-columns: auto auto;
        grid-template-rows: unset;
    }
    .image-wrapper img {
        height: auto;
    }
    .image-wrapper {
        height: auto;
    }
    .card {
        height: auto;
    }
}

@media (max-width: 450px) {
    .calendar {
        grid-template-columns: auto;
    }
}
